<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.young.entity.studentMapper">
    <!--定位用namespace.id-->
    <resultMap id="stuResultMap" type="org.young.entity.Student">
        <result property="stuId" column="stu_id"></result>
        <result property="stuName" column="stu_name"></result>
        <result property="stuPw" column="stu_Pw"></result>
    </resultMap>

    <select id="queryByStuId" resultMap="stuResultMap" parameterType="int">
        select * from student where stu_id = #{id}
    </select>

    <insert id="addStudent" parameterType="org.young.entity.Student">
        insert into student(stu_id,stu_name,stu_pw) value(#{stuId},#{stuName},#{stuPw})

    </insert>

    <update id="updateStudentByStuIdAndStuPw" parameterType="org.young.entity.Student">
        update student set stu_name=#{stuName} where stu_id=#{stuId}
    </update>

    <delete id="deleteStudentByStuId" parameterType="int">
        delete from student where stu_id = #{stuId}
    </delete>

    <select id="queryAllStudents" resultMap="stuResultMap">
        select * from student
    </select>


</mapper>